// Keywords: multispecies, interaction

species all initialize() {
	initializeSLiMModelType("nonWF");
	
	defineConstant("N", 100);
	defineConstant("c", 0.1);

}

species host initialize() {
	initializeSpecies(avatar="🌾", color="green");
	initializeSLiMOptions(keepPedigrees=T);
	
	initializeMutationType("m1", 0.5, "f", 0.0); //resistance mutation with no fitness cost yet
	m1.color = "cornflowerblue";
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 0);
	initializeMutationRate(0);
	initializeRecombinationRate(0);

}
species pathogen initialize() {
	initializeSpecies(avatar="🦠", color="red");

}


species host reproduction() {
	fitness = p1.cachedFitness(NULL);
	parent = sample(p1.individuals, 1, weights=fitness);
	offspring = subpop.addCloned(parent);
	//offspring.tagF = parent.tagF;
	offspring.tag = parent.tag;
	offspring.color = parent.color;
	self.active = 0;
}

species pathogen reproduction() {
	
	pathogenHosts = p2.individuals.tag;
	catn("pathogenHosts");
	catn(pathogenHosts);
	catn("unique(pathogenHosts)");
	catn(unique(pathogenHosts));
	
	infected = p1.individuals[match(p1.individuals.pedigreeID, p2.individuals.tag) >= 0];
	
	//infected = p1.individuals[p1.individuals.tag == 1]; //will work when I add horizontal transmission.
	//infected = p1.individuals[match(p1.individuals.predigreeID, p2.individuals.tags
	catn("Number of infected individuals: " + length(infected));
	catn(infected.pedigreeID);
	
	
	for (ind in infected) {
		if (runif(1) < c) { //contact rate decides if individual infects 
			parasitoid = p2.individuals[p2.individuals.tag == ind.pedigreeID]; //pathogen individual infecting ind
			catn("Number of individual pathogens in host " + ind.pedigreeID +": " + size(parasitoid)); //should be 1
			parent = sample(parasitoid, 1);
			offspring = subpop.addCloned(parent);
			catn(offspring);
			target = p1.sampleIndividuals(1); //new individual to infect (maybe only healthy ones?), TODO exclude resistant individuals... 
			target.color = "red"; target.tag = 1; //mark host as infected
			catn("Infection from: " + ind.pedigreeID + " -> " + target.pedigreeID);
			//catn("Target individual: " + target.pedigreeID);
			offspring.tag = target.pedigreeID;
			offspring.color = parent.color;
		}
		//TODO Error when there is host with infected tag, that is from host reproduction. There is no pathogen, that can reproduce for this host. Fix for now by not allowing horizontal transmission. Infected not by tag, but by presence of pathogen.
	}
	
	
	self.active = 0;
}

ticks all 1 first() {
	
	host.addSubpop("p1", N, haploid=T);
	p1.individuals.tag = 0; //Infection status. 0 for healthy, 1 for infected
}

ticks all 1: first() {
	catn("\n -- first() --");
	catn(p1.individuals.pedigreeID);
}

ticks all 1 first() {
	
	//initial resistance
	resistant = p1.sampleIndividuals(1);
	resistant.haploidGenome1.addNewDrawnMutation(m1, 0);
	resistant.color = "cornflowerblue";
	catn("Resistant host: " + resistant.pedigreeID);
	
	//initial infection
	pathogen.addSubpop("p2", 1);
	p2.individuals.color = "red";
	newHost = p1.sampleIndividuals(1, exclude=resistant); //choose host to be infected
	newHost.tag = 1; newHost.color = "red";
	catn("Initial infection in host " + newHost.pedigreeID);
	p2.individuals.tag = newHost.pedigreeID; //tag pathogen with host.pedigreeID

}

ticks all 1: late() {
	catn("-- late() --");
	//Choose one host to die	
	victim = sample(p1.individuals, 1);
	catn("Kill host: " + victim.pedigreeID);
	host.killIndividuals(victim);
	
	killPathogen = p2.individuals[p2.individuals.tag == victim.pedigreeID];
	catn("Kill Pathogen associated with host: " + killPathogen.tag);
	pathogen.killIndividuals(killPathogen);

}



ticks all 1: late() {
	
	//TODO kill pathogen if host dies
	hostIDs = p1.individuals.pedigreeID;
	catn("hostIDs");
	catn(hostIDs);
	
	pathogenHosts = p2.individuals.tag;
	catn("pathogenHosts");
	catn(pathogenHosts);
	
	catn("match(pathogenHosts, hostIDs)");
	catn(match(pathogenHosts, hostIDs)>=0);

}

//species host survival() {}
//species parasitoid survival() {}

ticks all 500 late() {
}
