// Keywords: multispecies, interaction

species all initialize() {
	initializeSLiMModelType("nonWF");
	
	if (!exists("N_host")) defineConstant("N_host", 100); //constant host population size
	if (!exists("N0_pathogen")) defineConstant("N0_pathogen", 1); //initialpathogen population size
	if (!exists("c")) defineConstant("c", 0.1); //horizontal transmission rate of pathogen.
	if (!exists("s")) defineConstant("s", 0.1); //cost of infection to reproduction in hosts
	//defineConstant("gamma", 0.005); //recovery rate of an infected individual

}


species host initialize() {
	initializeSpecies(avatar="🌾", color="green");
	initializeSLiMOptions(keepPedigrees=T);
	initializeTreeSeq(checkCoalescence=T);
	
	initializeMutationType("m1", 0.5, "f", 0.0); //resistance mutation with no fitness cost yet
	initializeGenomicElementType("g1", m1, 1.0);
	initializeChromosome(1, 1, type='H');
	initializeGenomicElement(g1);
	initializeMutationRate(0);
	initializeRecombinationRate(0);

}

species pathogen initialize() {
	initializeSpecies(avatar="🦠", color="red");
	initializeSLiMOptions(keepPedigrees=T); //are pedigreeID of two species unique?
	initializeTreeSeq(checkCoalescence=T);
	
	initializeMutationType("m2", 0.5, "f", 0.0);
	initializeGenomicElementType("g2", m2, 1.0);
	initializeChromosome(1, 1, type='H');
	initializeGenomicElement(g2);
	initializeMutationRate(0);
	initializeRecombinationRate(0);

}


species host reproduction() {
	catn("\n -- Host reproduction --");
	// add host reproduction WF style
	hosts = p1.individuals;
	fitness = p1.individuals.fitnessScaling; //cachedFitness(NULL)is different. Why?
	//cat(" host.cachedFitness: "); catn(p1.cachedFitness(NULL));
	cat("host.fitnessScaling: "); catn(p1.individuals.fitnessScaling);
	parents = sample(hosts, N_host, replace=T,  weights=fitness);
	cat(" Parents.pedigreeID: "); catn(parents.pedigreeID);
	
	offsprings = c(); //global list of offspring pedigreeIDs
	
	for (i in seqLen(p1.individualCount)) {
		offspring = p1.addCloned(parents[i]);
		offspring.tag = parents[i].tag;
		offsprings = c(offsprings, offspring.pedigreeID); //add offspring.pedigreeID to global list
	}
	
	cat(" Offsprings: "); catn(offsprings);
	defineGlobal("hostOffspring", offsprings);
	
	self.active = 0;
}


species pathogen reproduction() {
	catn("\n -- Pathogen reproduction --");
	cat(" HostPedigreeIDs: "); catn(p1.individuals.pedigreeID);
	cat(" HostOffsprings: "); catn(hostOffspring);
	
	targetHosts = sample(hostOffspring, p2.individualCount); //random sampled unique hosts for pathogens to infect in new generation. 
	cat("\n TargetHosts: "); catn(targetHosts);
	
	pathogens = p2.individuals;
	
	for (i in seqLen(p2.individualCount)) {
		// Each pathogen reproduces to the next generation and chooses random host from global list of hostOffspring (later, vertical reproduction?). 
		offspring = subpop.addCloned(pathogens[i]);
		offspring.tag = targetHosts[i]; offspring.color = pathogens[i].color;
		catn("\n Pathogen " + pathogens[i].tag + " reproduced to host " + targetHosts[i]);
		
		
		// additionally each pathogen transmits horizontally to a random host with probability c. 
		if (runif(1) < c) {
			horizontalTarget = sample(hostOffspring, 1); //random target host to be targeted by horizontal transmission...
			cat(" horizontalTarget: "); catn(horizontalTarget);
			
			if (match(horizontalTarget, targetHosts) < 0) { //-1 for no match. HorizontalTarget is not yet infected; will become infected.
				targetHosts = c(targetHosts, horizontalTarget);
				
				//cat(" match(horizontalTarget, targetHosts): "); catn(match(horizontalTarget, targetHosts));
				catn(" Pathogen " + pathogens[i].tag + " reproduced horizontally to " + horizontalTarget);
				horizontalOffspring = subpop.addCloned(pathogens[i]);
				horizontalOffspring.tag = horizontalTarget; horizontalOffspring.color = pathogens[i].color;
				cat(" TargetHosts: "); catn(targetHosts); //add horizontal target to list of targeted hosts to avoid double horizontal transmission to the same individual...
			}
		
		}
	}
	self.active = 0;
}

species host survival() {
	return(individual.age == 0);
}

species pathogen survival() {
	return(individual.age == 0);
}

//species pathogen modifyChild() { // new offspring is not available to the simualtion scope yet...
//	cat("\nHost.pedigreeID: "); catn(p1.individuals.pedigreeID);
//	return T;
//}

ticks all 1 early() {
	
	host.addSubpop("p1", N_host, haploid=T);
	p1.individuals.tag = seqLen(N_host);
	cat("Host.tag: "); catn(p1.individuals.tag);
}

ticks all 2: first() {
	catn("\n\n--- first() ---");
	cat("Host.pedigreeID: "); catn(p1.individuals.pedigreeID);
	cat("Host.tag: "); catn(p1.individuals.tag);
	cat("Host.fitnessScaling: "); catn(p1.cachedFitness(NULL));
}

ticks all 1: late() {
	catn("\n--- late() ---");
	cat("Host.pedigreeID: "); catn(p1.individuals.pedigreeID);
	cat("Host.tag: "); catn(p1.individuals.tag);
	//cat("Host.pedigreeID: "); catn(p1.individuals.pedigreeID);
	
	tags = p1.individuals.tag; // host tags to check coalescence in host ("Host burn-in")
	
	if (all(tags == tags[0])) {
		defineConstant("hostCOALESCED", community.tick);
		catn("Host coalesced in tick " + community.tick + "!");
		community.deregisterScriptBlock(self);
	}
}

ticks all hostCOALESCED+1 first(){
	//initial infection in random host once host coalescence is given.
	catn("\n--- first() ---");
	pathogen.addSubpop("p2", N0_pathogen, haploid=T);
	p2.individuals.color = "red"; p2.individuals.age = 1;
	
	newHost = p1.sampleIndividuals(1);
	newHost.color = "red";
	catn("Initial infection in host " + newHost.pedigreeID);
	p2.individuals.tag = newHost.pedigreeID; //tag pathogen with host.pedigreeID
}


//ticks all 2: late() {
//	// check coalescence and simulation state...
//	if (host.treeSeqCoalesced()) {
//		catn("HOST COALESCED: " + community.tick); // does not work with haploid model...
//	}
//}

ticks all hostCOALESCED+1: first() {
	catn("\n--- first() ---");
	
	//cat("host.cachedFitness: "); catn(p1.cachedFitness(NULL));
	infectedHosts = p1.individuals[match(p2.individuals.tag, p1.individuals.pedigreeID)];
	cat("InfectedHosts.pedigreeIDs: "); catn(infectedHosts.pedigreeID);
	
	infectedHosts.fitnessScaling = 1-s;
	cat("infectedHosts.fitnessScaling: "); catn(infectedHosts.fitnessScaling);
	cat("Host.fitnessScaling: "); catn(p1.individuals.fitnessScaling);	
	
}


ticks all hostCOALESCED+1: late() {
	catn("\n--- late() ---");
	
	cat("Host.pedigreeID: "); catn(p1.individuals.pedigreeID);
	cat("Host.tag: "); catn(p1.individuals.tag);
	
	cat("Pathogen.pedigreeID: "); catn(p2.individuals.pedigreeID);
	cat("Pathogen.tag: "); catn(p2.individuals.tag);
	
	pathPedigreeIDs = p2.individuals.pedigreeID;
	pathHostIDs = p2.individuals.tag;
	// change host.tags of offspring to infected/healthy. Apply fitness effects of infection/kill of hosts or recover them. 
	
	
	//	if (p1.individualCount == 0)
	//		stop(host.avatar + " extinct");
	//	if (pathogen.subpopulations.individualCount == 0)
	//		stop(pathogen.avatar + " extinct");
	
	//catn(pathogen.subpopulations.individualCount);
	catn("Checking pathogen fixation...");
	if (pathogen.subpopulations.individualCount == N_host) {
		catn(pathogen.avatar + " fixed in cycle " + community.tick);
		
		pathogens = p2.individuals;
		infectionDict = Dictionary("PathogenPedigreeID", pathogens.pedigreeID, "PathogenHostIDs", pathogens.tag);
		catn(infectionDict);
		
		if (!exists("slimgui")) {
			dir = paste0("trees/discrete_WF/TwoSpecies_discrete_WF" + "_Nhost" + N_host + "_N0pathogen" + N0_pathogen + "_c" + c + "_s" + s + "_" + getSeed());
			catn("Dir: " + dir);
			createDirectory(dir);
			
			hostFile = paste0(dir + "/" + "HostTreeSeq_" + getSeed() + ".trees");
			host.treeSeqOutput(hostFile);
			catn("Host File written:" + hostFile);
			
			pathogenFile = paste0(dir + "/" + "PathogenTreeSeq_" + getSeed() + ".trees");
			pathogen.treeSeqOutput(pathogenFile);
			catn("Pathogen File written: "  + pathogenFile);
		}
		community.simulationFinished();
	}
}

ticks all 10*N_host late() {


}
